<div data-controller="counter">
  <h3>Counter: <span data-counter-target="output">0</span></h3>
  <button type="button" data-action="click->counter#increment">
    Increment
  </button>
  <button type="button" data-action="click->counter#decrement">
    Decrement
  </button>
</div>